#addItem-container{
    /* border: 5px solid white; */
    align-items: center;
    width: 50%;
    margin: auto;
}
.shipping-form{
    margin: auto;
    display: block;
}
.description-area{
    align-items: center;
    justify-content: center;
}